extends layout

block content

    h1=title
    p The game has ended

    //Wrapper
    #wrapper

        //  Scores
        h2 Players in Lobby
        #scoreboard
            table
                thead
                    th Username
                    th Scores
                    
                tbody
        // /Scores
        
        button#btnLogOut Log out

    // /WRAPPER
